google-generativeai
langchain
langchain_google_genai
python-dotenv
langchain_community
langchain_core
wikipedia 
langchain_unstructured
langchain_google_genai
langchain_chroma
langchain_text_splitters
langchain_community
bs4
requests
tqdm
chromadb
sentence_transformers
nvidia-ml-py3